@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

/* .App {
  min-height: 100vh;
  display: flex;
  background-color: hsla(254, 100%, 49%, 1);
  background-image: radial-gradient(
      at 48% 3%,
      hsla(292, 86%, 62%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 51% 100%, hsla(292, 86%, 62%, 1) 0px, transparent 50%);
  background-position: center;
  background-size: cover;
} */


.App {
  min-height: 100vh;
  display: flex;
  background: url('../t5e60874a213cf.jpg') center/cover no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
